@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*Shared Style*/
.dark-2{
    color: rgb(71, 71, 71);
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
   background-color:#FD6E0A;
   border-radius: 5px;
   padding: 10px 25px;
   color: white;
   font-weight: 700;
   font-size: 16px;
   border: none;

}
/* header */
header{
    background-image: url("../asset/images/developer.png"),url("../asset/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-size: 85px,auto;
    margin-left: 20px;
}
/* Nav style */

nav{
    display: flex;
    font-family: Open Sans;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px 30px 150px;

}

.nav-title{
    font-weight:800 ;
    font-size: 42px;
}
nav ul li{
    list-style: none;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;

}
nav .links{
    display: flex;
    gap: 50px;
}
nav ul{
    align-items: center;
}

/* Banner section */
.banner{
font-family: Open Sans;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 30px 0 150px;
}
.banner .greeting{
    font-size: 25px;
    font-weight: 600;
    line-height: 20px;
}
.banner .name{
color: rgb(24, 24, 24);
font-size: 60px;
font-weight: 700;
}
.banner .profile{
    height: 500px;
    width: 400px;
}
.banner-content{
    max-width: 334px;
}